/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/ace-user-base-define/target/ace-user-base-define-1.0-SNAPSHOT.jar
/ace-user-base-define/target/classes/ace/sms/define/base/constant/SmsConstants.class
/ace-user-base-define/target/classes/ace/sms/define/base/enums/SmsTemplateEnum.class
/ace-user-base-define/target/classes/ace/sms/define/base/enums/SmsVerifyCodeTypeEnum.class
/ace-user-base-define/target/classes/ace/sms/define/base/model/VerifyCodeId$VerifyCodeIdBuilder.class
/ace-user-base-define/target/classes/ace/sms/define/base/model/VerifyCodeId.class
/ace-user-base-define/target/classes/ace/sms/define/base/model/request/CheckRequest$CheckRequestBuilder.class
/ace-user-base-define/target/classes/ace/sms/define/base/model/request/CheckRequest.class
/ace-user-base-define/target/classes/ace/sms/define/base/model/request/GetVerifyCodeRequest$GetVerifyCodeRequestBuilder.class
/ace-user-base-define/target/classes/ace/sms/define/base/model/request/GetVerifyCodeRequest.class
/ace-user-base-define/target/classes/ace/sms/define/base/model/request/SendSmsRequest$SendSmsRequestBuilder.class
/ace-user-base-define/target/classes/ace/sms/define/base/model/request/SendSmsRequest.class
/ace-user-base-define/target/classes/ace/sms/define/base/model/request/SendVerifyCodeRequest$SendVerifyCodeRequestBuilder.class
/ace-user-base-define/target/classes/ace/sms/define/base/model/request/SendVerifyCodeRequest.class
/ace-user-base-define/target/maven-archiver/pom.properties
/ace-user-base-define/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/ace-user-base-define/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/ace-user-diagram/ace-user-diagram.pdb
/ace-user-base-api/target/ace-user-base-api-1.0-SNAPSHOT.jar
/ace-user-base-api/target/classes/ace/user/base/api/controller/SmsVerifyCodeBaseController.class
/ace-user-base-api/target/classes/ace/user/base/api/controller/UserBaseController.class
/ace-user-base-api/target/classes/ace/user/base/api/service/SmsVerifyCodeBaseService.class
/ace-user-base-api/target/classes/ace/user/base/api/service/UserBaseService.class
/ace-user-base-api/target/maven-archiver/pom.properties
/ace-user-base-api/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/ace-user-base-api/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/ace-user-base-api-web/target/classes/application-nacos.properties
/ace-user-base-api-web/target/classes/application-redis.properties
/ace-user-base-api-web/target/classes/application.properties
/ace-user-base-api-web/target/classes/banner.txt
/ace-user-base-api-web/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/ace-user-base-api-web/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/ace-user-base-api-client-autoconfigure/target/ace-user-base-api-client-autoconfigure-1.0.0.1-sources.jar
/ace-user-base-api-client-autoconfigure/target/ace-user-base-api-client-autoconfigure-1.0.0.1.jar
/ace-user-base-api-client-junit/ace-account-base-api-client-junit.iml
/ace-user-base-api-client-junit/target/ace-user-base-api-client-junit-sources.jar
/ace-user-base-api-client-junit/target/ace-user-base-api-client-junit.jar
/ace-user-base-api-client-junit/target/ace-user-base-api-client-junit.jar.original
/ace-user-base-api-client-junit/target/classes/ace/user/base/api/client/application/ClientJUnitBaseApplication.class
/ace-user-base-api-client-junit/target/classes/ace/user/base/api/client/application/config/ClientJUnitBaseApplicationConfig.class
/ace-user-base-api-client-junit/target/test-classes/ace/user/base/api/web/biz/CheckAllBizTest.class
/ace-user-base-api-web/target/ace-user-base-api-web-sources.jar
/ace-user-base-api-web/target/ace-user-base-api-web.jar
/ace-user-base-api-web/target/ace-user-base-api-web.jar.original
/ace-user-base-api-web/target/classes/ace/user/base/api/web/UserBaseApiWebApplication.class
/ace-user-base-api-web/target/classes/ace/user/base/api/web/config/UserBaseApiWebApplicationConfig.class
/ace-user-base-api-web/target/classes/ace/user/base/api/web/controller/UserBaseControllerImpl.class
/ace-user-base-api-web/target/classes/ace/user/base/api/web/dao/UserDbService.class
/ace-user-base-api-web/target/classes/ace/user/base/api/web/dao/impl/UserDbServiceImpl.class
/ace-user-base-api-web/target/classes/ace/user/base/api/web/dao/mapper/UserMapper.class
/ace-user-base-api-web/target/classes/application-actuator.properties
/ace-user-base-api-web/target/classes/application-datasource.properties
/ace-user-base-api-web/target/classes/application-mybatis.properties
/ace-user-base-api-web/target/classes/application-nacos-registry.properties
/ace-user-base-api-web/target/classes/application-tomcat.properties
/ace-user-base-api-web/target/classes/mapper/UserMapper.xml
/ace-user-base-api-web/target/maven-archiver/pom.properties
/ace-user-base-api/target/ace-user-base-api-1.0.0.1-sources.jar
/ace-user-base-api/target/ace-user-base-api-1.0.0.1.jar
/ace-user-base-api/target/classes/ace/user/base/api/UserBaseApi.class
/ace-user-base-api/target/classes/ace/user/base/api/web/controller/UserBaseController.class
/ace-user-base-define/target/ace-user-base-define-1.0.0.1-sources.jar
/ace-user-base-define/target/ace-user-base-define-1.0.0.1.jar
/ace-user-base-define/target/classes/ace/user/base/define/constant/UserConstants.class
/ace-user-base-define/target/classes/ace/user/base/define/dao/entity/User$UserBuilder.class
/ace-user-base-define/target/classes/ace/user/base/define/dao/entity/User.class
/ace-user-base-define/target/classes/ace/user/base/define/dao/enums/user/UserSexEnum.class
/ace-user-base-api/target/classes/ace/user/base/api/
/ace-user-base-api/ace-user-base-api.iml
/ace-user-base-api-client-autoconfigure/target/classes/
/ace-user-base-api-client-autoconfigure/ace-user-base-api-client-autoconfigure.iml
/ace-user-base-api-client-junit/target/classes/
/ace-user-base-api-client-junit/ace-user-base-api-client-junit.iml
/ace-user-base-api-web/target/classes/ace/user/base/api/web/
/ace-user-base-api-web/ace-user-base-api-web.iml
/ace-user-base-define/target/classes/ace/user/base/define/
/ace-user-base-define/ace-user-base-define.iml
/.idea/
/ace-user-base-api/target/
/ace-user-base-api-client-autoconfigure/target/
/ace-user-base-api-client-junit/target/
/ace-user-base-define/target/
